{% extends 'base.html.twig' %}

{% block title %}Developper{% endblock %}

{% block body %}
    <h1>Developper</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ developper.id }}</td>
            </tr>
            <tr>
                <th>firstName</th>
                <td>{{ developper.firstName }}</td>
            </tr>
            <tr>
                <th>lastName</th>
                <td>{{ developper.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ developper.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('developper_index') }}">back to list</a>

    <a href="{{ path('developper_edit', {'id': developper.id}) }}">edit</a>

    {{ include('developper/_delete_form.html.twig') }}
{% endblock %}